<%- include('header') -%>

  <div class="main">
    <% if(listTitle==="Saturday" || listTitle==="Sunday" ){ %>
      <h1 style="color: red">
        <%= listTitle %>
      </h1>
      <% }else{ %>
        <h1 style="color: white">
          <%= listTitle %>
        </h1>
        <% } %>

          <!-- <h1 style="color: green"><%= listTitle %> LIST</h1> -->
          <form action="/" class="form" method="post">
            <input id="inputtask" type="text" name="newList" placeholder="Enter your task here" autocomplete="off" />
            <button id="addbutton" type="submit" name="list" value=<%=listTitle %>
              > ADD LIST
            </button>
          </form>
          <ol class="todolist">
            <% newListItems.forEach((list)=>{ %>
              <form class="listForm" action="/delete" method="post">
                <input type="checkbox" class="checkbox" name="checkbox" value="<%= list._id %>"
                  onchange="this.form.submit()" />
                <li>
                  <%= list.name %>
                </li>
              </form>
              <% }) %>
          </ol>
          <!-- <button type="reset" class="clear">Clear All</button> -->

  </div>

  <%- include('footer') -%>