<%- include('header') -%>

  <div class="main">
    <% if(listTitle==="Saturday" || listTitle==="Sunday" ){ %>
      <h1 style="color: red">
        <%= listTitle %>
      </h1>
      <% }else{ %>
        <h1 style="color: white">
          <%= listTitle %>
        </h1>
        <% } %>

          <!-- <h1 style="color: green"><%= listTitle %> LIST</h1> -->
          <form action="/" class="form" method="post">
            <input id="inputtask" type="text" name="newList" placeholder="Enter your task here" autocomplete="off" />
            <button id="addbutton" type="submit" name="list" value=<%=listTitle %>
              > ADD LIST
            </button>
          </form>
          <ol class="todolist">
            <% for(var i=0; i < newListItems.length; i++){ %>
              <span>
                <input type="checkbox" class="checkbox" />
                <li>
                  <%= newListItems[i] %>
                </li>
              </span>
              <% } %>
          </ol>
          <button type="reset" class="clear">Clear All</button>

  </div>

  <%- include('footer') -%>